<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
    {{#with flash}}
        <span class=".alert alert-warning">
            <ul>
                {{#each warning}}
                    <li>
                        {{this}}
                    </li>
                {{/each}}
            </ul>
        </span>


        <span class=".alert alert-info">
            <ul>
                {{#each info}}
                    <li>
                        {{this}}
                    </li>
                {{/each}}
                {{#each info_unsafe}}
                    <li>
                        {{{this}}}
                    </li>
                {{/each}}
            </ul>
        </span>

    {{/with}}
    <script src="/app.js"></script>
    {{{body}}}
</body>
</html>