<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Document</title>
</head>
<body>
    <script src="/styles.js"></script>
    {{#with flash}}
        <div class="alert alert-warning">
            <ul>
                {{#each warning}}
                    <li>
                        {{this}}
                    </li>
                {{/each}}
            </ul>
        </div>


        <div class="alert alert-info">
            <ul>
                {{#each info}}
                    <li>
                        {{this}}
                    </li>
                {{/each}}
                {{#each info_unsafe}}
                    <li>
                        {{{this}}}
                    </li>
                {{/each}}
            </ul>
        </div>

    {{/with}}
    {{{body}}}
    <script src="/app.js" async></script>
</body>
</html>