<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Compare UI Frameworks</title>
</head>
<body>


    <button class="todo-item"></button>
    <div id="app-container">

    </div>
    <script src="/app.js"></script>
</body>
</html>