{{#unless hideLabel}}
    <label>
    {{name}}
{{/unless}}
    <input name={{name}} type="text" {{#unless index}}autofocus{{/unless}} value="{{value}}"/>
{{#unless hideLabel}}
    </label>
{{/unless}}