@import '~purecss-sass';


@mixin button-colored {
  color: white;
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.pure-button-success {
  @include button-colored;
  background: rgb(28, 184, 65);
}

.pure-button-error {
  @include button-colored;
  background: rgb(202, 60, 60);
}

.pure-button-warning {
  @include button-colored;
  background: rgb(223, 117, 20);
}

.pure-button-secondary{
  @include button-colored();
  background: rgb(66, 184, 221);
}